<div class="container">

  <header>
    <div class="header_logo">
      <img src='../assets/img/logo.png' alt="logo">
    </div>
    <nav class="header_nav">
      <a href="#">О сервисе</a>
      <a href="#">Договор</a>
      <a href="#">Тарифы</a>
      <a href="#">Оплаты</a>
      <a href="#">Базы</a>
      <a href="#">Справка</a>
    </nav>
    <div class="bts_header">
      <button class="login">Вход</button>
      <button class="registration">Регистрация</button>
    </div>
  </header>

  <main>
    <div class="main_header">
      <h1>В честь Дня народного единства Smeta.Cloud дарит всем  бесплатный пакет на три дня!</h1>
    </div>
    <div class="bts_main">
      <button *ngIf="toPress" (click)="goLink()">Получить пробный пакет</button>
      <button *ngIf="!toPress"  (click)="goLink()">Button off</button>
    </div>
  </main>

  <footer>
    <nav class="footer_nav">
      <a href="#">О сервисе</a>
      <a href="#">Договор</a>
      <a href="#">Тарифы</a>
      <a href="#">Оплата</a>
      <a href="#">Базы</a>
      <a href="#">Справка</a>
      <a href="#">Smeta.ru</a>
      <a href="#">Нормонавигатор</a>
      <a href="#">Смета НЦС</a>
    </nav>
    <div class="footer_logo">
      <img class="visa" src="../assets/img/visa.png" alt="">
      <img class="unit" src="../assets/img/unit.png" alt="">
    </div>
    <nav class="footer_nav_right_site">
      <a href="#">Контакты</a>
      <span>|</span>
      <a href="#">© 2014  ООО "Учет и право"</a>
    </nav>
  </footer>
</div>
